<!DOCTYPE HTML>
<html class="no-js">
<head>
	<include file="Public/head"/>
</head>
<body>
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->

	<!-- 主体 -->
	<div class="am-container">
	<include file="Public/body"/>
	</div>
	<!-- /主体 -->
	
	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/Public/assets/js/jquery.min.js"></script>
<script src="/Public/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

<script src="/Public/js/ajaxfileupload.js"></script>
<script src="/Public/js/public.js"></script>

</body>
</html>
