<extend name="Base/common"/>
<block name="body">
<title>{:$user['username']} - {:C('SITE_TITLE')}</title>

<script type="text/javascript">
function send_msg(){
    $.ajax({
            type:"POST",
            url:"{:U('/Home/Inbox')}",
            data:{
                  type:'send',
                  toname:'{:$user['username']}',
                  content:$("#comenttext").val()
                  },
            cache:false, //不缓存此页面   
            success:function(re){
              alert(re);
               if(re=="发送成功") {
                $('#new-msg-modal').modal('close');
                $("#comenttext").val('');
               }
            }
        });
  }
</script>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="new-msg-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">发送私信给：<strong>{:$user['username']}</strong>
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd am-form">
    <hr />
      <div class="am-alert am-alert-info">长度限1000字</div>
      <textarea name="content" onKeyDown='if (this.value.length>=1000){if(event.keyCode != 8)event.returnValue=false;}' class="form-control" rows="7" id="comenttext"></textarea>
      <hr>
      <span class="am-fr">
        <button type="button" class="am-btn am-btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="am-btn am-btn-primary" onclick="send_msg()" data-dismiss="modal">提交</button>
      </span>
    </div>
  </div>
</div>

<div class="am-g">
	<div class="am-u-md-9">
		<div class="am-panel am-panel-default">
		  <div class="am-panel-bd">
      <notempty name="user['weibo']"><span class="am-fr"><a target="_blank" href="{:$user['weibo']}" class="am-icon-btn am-icon-weibo"></a></span></notempty>
		    <strong>{:$user['username']}</strong>，{:$user['introduce_short']}
		    <hr />
		    <p>{:$user['introduce_long']?nl2br($user['introduce_long']):"这货有点懒，什么都没写"}</p>
        <div class="am-text-right">
          <button type="button" class="follow-btn-{:$user['username']} {:strtolower(cookie('username')) == strtolower($user['username'])?'am-disabled':''} am-btn {:$user['is_follow']?'':'am-btn-success'} am-radius {:$user['is_follow'] == 3?'am-icon-retweet':''}" onclick="follow_user('{:cookie('username')}','{:$user['username']}')">{:$user['is_follow'] == 3?' ':''}{:$user['is_follow']?'取消关注':'关注TA'}</button>
          <button class="am-btn am-btn-success am-radius {:strtolower(cookie('username')) == strtolower($user['username'])?'am-disabled':''}" data-am-modal="{target: '#new-msg-modal', closeViaDimmer: 0, width: 500, height: 380}"><span class="am-icon-envelope-o"> {:strtolower(cookie('username')) == strtolower($user['username'])?'我自己':'发送私信'}</span></button>
        </div>
		  </div>
		  <div class="am-panel-hd am-avg-md-6 am-avg-sm-3">
		  	<li><a href="{:GetUserPage(cookie('username'))}"><span class="am-icon-home am-icon-md"></span></a></li>
		  		<li><span class="am-text-middle"><span class="am-icon-question-circle"></span> 问题 {:$user['question']}</span></li>
		  		<li><span class="am-text-middle"><span class="am-icon-edit"></span> 回答 {:$user['answer']}</span></li>
		  		<li><span class="am-text-middle"><span class="am-icon-thumbs-up"> 获得赞 {:$user['agree']}</span></span></li>
		  </div>
		</div>

<notempty name="answer">
<section class="am-panel am-panel-default">
  <header class="am-panel-hd">
    <h3 class="am-panel-title">回答</h3>
  </header>
  <div class="am-panel-bd">
  <foreach name="answer" item="vo" >
    <div class="am-g">
      <div class="am-u-sm-2">
        <div class="am-alert am-text-center am-alert-secondary">
          {:$vo['agree']}<br />赞同
        </div>
      </div>
      <div class="am-u-sm-10 ">
        <div class="am-text-truncate"><a target="_blank" href="{:U('/Home/Question/'.$vo['question_id'].'/Answer/'.$vo['id'])}">{:get_question_title($vo['question_id'])}</a><br /></div>
        {:sub_question_content($vo['content'])}
      </div>
    </div>
    </foreach>
  </div>
</section>
</notempty>

<notempty name="question">
<section class="am-panel am-panel-default">
  <header class="am-panel-hd">
    <h3 class="am-panel-title">问题</h3>
  </header>
  <div class="am-panel-bd">
  <table class="am-table"><thead><tr><th>标题</th></tr></thead><tbody>
  <foreach name="question" item="vo" >
    <tr><td><a class="am-text-break" target="_blank" href="{:U('/Home/Question/'.$vo['id'])}">{:$vo['title']}</a><br /></td></tr>
    </foreach>
    </tbody></table>
  </div>
</section>
</notempty>

	</div><!--md-9-->
<div class="am-u-md-3">
  
<ul class="am-avg-sm-2 am-thumbnails">
  <li>关注了<br /><strong>{:$user['follow']}</strong> 人</li>
  <li>关注者<br /><strong>{:$user['fans']}</strong> 人</li>
</ul>
<hr />

</div>
</div>

</block>