<extend name="Base/common"/>
<block name="body">
<title>收件箱 - 萌娘百科</title>

<script type="text/javascript">
function postmsg(){
  console.log($("#toname").val());
    $.ajax({
            type:"POST",
            url:"__SELF__",
            data:{
                  type:'send',
                  toname:$("#toname").val(),
                  content:$("#comenttext").val()
                  },
            cache:false, //不缓存此页面   
            success:function(re){
        alert(re);
        location.replace(location);
            }
        });


  }
</script>



<div class="am-modal am-modal-no-btn" tabindex="-1" id="new-msg-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">发送私信
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd am-form">
      <input type="text" class="form-control" id="toname" placeholder="请输入要私信的用户名 只能输一个哦( • ̀ω•́ )✧..." /><hr>
      <div class="am-alert am-alert-info">长度限1000字</div>
      <textarea name="content" onKeyDown='if (this.value.length>=1000){if(event.keyCode != 8)event.returnValue=false;}' class="form-control" rows="7" id="comenttext"></textarea>
      <hr>
      <span class="am-fr">
        <button type="button" class="am-btn am-btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="am-btn am-btn-primary" onclick="postmsg()" data-dismiss="modal">提交</button>
      </span>
    </div>
  </div>
</div>

<div class="am-g">

<div class="am-u-sm-8">
<div class="page-header">
  <h2>我的私信 <small><button class="am-btn am-btn-success" data-am-modal="{target: '#new-msg-modal', closeViaDimmer: 0, width: 500, height: 450}">写私信</button></small></h2>
</div>
<hr />
<volist name="inbox_index" id="vo">
  <p><if condition="($vo['from'] eq 1)">

  <if condition="($vo['usname1'] eq cookie('username'))">
  我发送给<a href="/Home/User/people/{$vo.usname2}">{:$vo['usname2']}</a>
  <else />
  <a href="/Home/User/people/{$vo.usname1}">{:$vo['usname1']}</a>
  </if>

  <else />

  <if condition="($vo['usname1'] eq cookie('username'))">
  <a href="/Home/User/people/{$vo.usname2}">{:$vo['usname2']}</a>
  <else />
  我发送给<a href="/Home/User/people/{$vo.usname1}">{:$vo['usname1']}</a>
  </if>
  
  </if>
  ：{:getInboxcontent($vo['inbox_id'])}... <br />
  <span>{$vo['time']}</span><span style="float:right"><a href="/Home/Inboxpage/{$vo['usname1'] == cookie('username')?$vo['usname2']:$vo['usname1']}" target="_BLANK">共{$vo['numb']}条对话</a></span></p>
  <hr>
</volist>


</div><!--col-md-8-->

<div class="am-u-sm-4"></div>

</div><!--container-->

</block>
