		<IF condition="$mode eq 'near'">
			<foreach name="content" item="vo" key="i">
			<notempty name="vo['answer_content']['id']">
			<article class="am-comment">
			  	<div class="am-comment-avatar">
				  <button id="agree-answer-btn-{:$vo['answer_content']['id']}" type="button" onclick="agree_answer({:$vo['answer_content']['id']},1)" class="am-btn am-icon-angle-up {:getAnsweraction($vo['answer_content']['id'],1)}"><br /></button>
				  <center id="answer-agree-numb-{:$vo['answer_content']['id']}">{:$vo['answer_content']['agree']}</center>
				  <button id="unagree-answer-btn-{:$vo['answer_content']['id']}" type="button" onclick="agree_answer({:$vo['answer_content']['id']},2)" class="am-btn am-icon-angle-down {:getAnsweraction($vo['answer_content']['id'],2)}"></button>
				</div>
			    <!--<img src="" alt="" class="am-comment-avatar" width="48" height="48"/>-->
				  <div>
				    <header>
				      <!--<h3 class="am-comment-title">评论标题</h3>-->
				      <div class="am-comment-meta qustion-title-content">
				        <a target="_blank" href="{:U('/Home/People/'.$vo['answer_content']['username'])}" class="am-comment-author">{:$vo['answer_content']['username']}</a>
				        发布于 <time>{:$vo['answer_content']['time']}</time>
				      </div>
				    </header>
				    <div class="am-comment-bd">
				    <a class="qustion-title-content am-text-truncate" target="_blank" href="/index.php/Home/Question/{:$vo['id']}/Answer/{:$vo['answer_content']['id']}"><h2>{:$vo['title']}</h2></a>
				      {:sub_question_content($vo['answer_content']['content'])}
				    </div>
				    <p class="am-text-right"><a class="am-link-muted" href="javascript:;" value="{:$vo['answer_content']['id']}" name="123" onClick="javascript:comment_toggle(this,'answer');"><span class="am-icon-comment"> 评论列表</span></a></p>
				  </div>
				  <div class="am-panel am-panel-default" style="display: none;" id="comment-{:$vo['answer_content']['id']}">
					    <div class="am-panel-bd" id="div-comment-{:$vo['answer_content']['id']}">
					    	<i class="am-icon-spinner am-icon-spin"></i>正在加载评论
					    </div>
					</div>
				  <hr />
			</article>
			</notempty>
			</foreach>
		<elseif condition="$mode eq 'hot'"/>
			<foreach name="content" item="vo" key="i">
			<notempty name="vo['id']">
			<article class="am-comment">
			  	<div class="am-comment-avatar">
				  <button id="agree-answer-btn-{:$vo['id']}" type="button" onclick="agree_answer({:$vo['id']},1)" class="am-btn am-icon-angle-up {:getAnsweraction($vo['id'],1)}"><br /></button>
				  <center id="answer-agree-numb-{:$vo['id']}">{:$vo['agree']}</center>
				  <button id="unagree-answer-btn-{:$vo['id']}" type="button" onclick="agree_answer({:$vo['id']},2)" class="am-btn am-icon-angle-down {:getAnsweraction($vo['id'],2)}"></button>
				</div>
			    <!--<img src="" alt="" class="am-comment-avatar" width="48" height="48"/>-->
			  
				  <div>
				    <header>
				      <!--<h3 class="am-comment-title">评论标题</h3>-->
				      <div class="am-comment-meta qustion-title-content">
				        <a href="{:get_user_page($vo['username'])}" class="am-comment-author">{:$vo['username']}</a>
				        发布于 <time>{:$vo['time']}</time>
				      </div>
				    </header>
				    <div class="am-comment-bd">
				    <a class="qustion-title-content am-text-truncate" target="_blank" href="/index.php/Home/Question/{:$vo['question_id']}/Answer/{:$vo['id']}"><h2>{:get_question_title($vo['question_id'])}</h2></a>
				      {:sub_question_content($vo['content'])}

				    </div>
				    <p class="am-text-right"><a class="am-link-muted" href="javascript:;" value="{:$vo['id']}" name="123" onClick="javascript:comment_toggle(this,'answer');"><span class="am-icon-comment"> 评论列表</span></a></p>
				  </div>
				  <div class="am-panel am-panel-default" style="display: none;" id="comment-{:$vo['id']}">
					    <div class="am-panel-bd" id="div-comment-{:$vo['id']}">
					    	<i class="am-icon-spinner am-icon-spin"></i>正在加载评论
					    </div>
					</div>
				  <hr />
			</article>
			</notempty>
			</foreach>
		<else />
			<foreach name="content" item="vo" key="i">
				<small><div class="am-link-muted">
				    {:$vo['anonymous']?'匿名用户 ':'<a href="'.get_user_page($vo['username']).'">'.$vo['username'].' </a>'}
					提交于 <time>{:$vo['time']}</time>
				</div></small>
				<a target="_blank" href="/index.php/Home/Question/{:$vo['id']}"><h2>{:$vo['title']}</h2></a>
				<hr />
			</foreach>
		</IF>

		<empty name="content">
			<div class="am-alert am-alert-success" data-am-alert>
			  <p class="am-text-center">没有更多的内容了</p>
			</div>
		<else />
			<div id="topic_load_more"><button type="button" id="load_more_btn" class="am-btn am-btn-default am-btn-block btn-loading" onclick="get_content({:$tid},'{:$mode}',{:$next_page})">加载更多</button></div>
		</empty>