<extend name="Base/common"/>
<block name="body">
<script type="text/javascript">
	$("#topbar-topic").addClass("am-active");
</script>
<title>我的话题 - 萌娘问答</title>
<div class="am-g">
<h1 class="am-article-title">我关注的话题</h1>
		<hr />
	<div class="am-u-sm-8">
		<foreach name="topic" item="vo">
			<PHP>$topic_info = getTopicinfo($vo['topic_id']);</PHP>
			<p><a href="{:U('/Home/Topic/'.$topic_info['id'])}" target="_blank">{:$topic_info['name']}</a>
			<button class="am-btn am-fr am-btn-success" onclick="on_follow_topic_btn_click({:$topic_info['id']})" data-am-button>取消关注</button><br />
			<small>{:$topic_info['introduce']}</small></p>
			<hr />
		</foreach>
	</div>
</div>

</div>
</block>