<extend name="Base/common"/>
<block name="body">
<script type="text/javascript">
	$("#topbar-topic").addClass("am-active");
</script>
<title>我的话题 - {:C('SITE_TITLE')}</title>
<div class="am-g">
<h1 class="am-article-title">我关注的话题</h1>
		<hr />
	
	<div class="am-u-md-8">
		<foreach name="topic" item="vo">
			<PHP>$topic_info = getTopicinfo($vo['topic_id']);</PHP>
			<p><a href="{:U('/Home/Topic/'.$topic_info['id'])}" target="_blank">{:$topic_info['name']}</a>
			<button class="am-btn am-fr am-btn-success js-follow" onclick="on_follow_topic_btn_click({:$topic_info['id']},'{:$topic_info['name']}',this)">取消关注</button><br />
			<small>{:$topic_info['introduce']}</small></p>
			<hr />
		</foreach>
	</div>
	<div class="am-u-md-4 am-u-end"><a class="am-link-muted am-icon-th-large" href="{:U('/Home/Topic/tlist')}"> 话题广场</a></div>
</div>

</div>
</block>