<extend name="Base/common"/>
<block name="body">
<title>{:$topic['name']} - 话题 - 萌娘问答</title>
<script src="/Public/js/topic.js"></script>

<div class="am-g">
	<div class="am-u-md-9">
		<h1 class="am-article-title" id="question_title">{:$topic['name']}</h1>
		<p class="am-article-meta">{:$topic['introduce']}</p>
		<hr />
		<ul class="am-nav am-nav-pills">
		  <li class="{:$mode == 'near' ? 'am-active' : ''}"><a href="{:U('Home/Topic/'.$topic['id'].'/near')}">最近</a></li>
		  <li class="{:$mode == 'hot' ? 'am-active' : ''}"><a href="{:U('Home/Topic/'.$topic['id'].'/hot')}">精华</a></li>
		  <li class="{:$mode == 'all' ? 'am-active' : ''}"><a href="{:U('Home/Topic/'.$topic['id'].'/all')}">全部问题</a></li>
		</ul>
		<hr />
		<div id="load-div"><button type="button" class="am-btn am-btn-default am-btn-block"><i class="am-icon-spinner am-icon-spin"></i> 加载中</button></div>
		<script type="text/javascript">get_content({:$tid},'{:$mode}',1);</script>
	</div><!--am-9-->
	<div class="am-u-md-3">
		<button type="button" id="follow_btn" onclick="on_follow_topic_btn_click({:$topic['id']})" class="am-btn am-btn-primary am-radius {:($topic['is_follow']?'am-active':'')}" data-am-button>{:($topic['is_follow']?'已关注':'关注话题')}</button>
		<p>{:$topic['follow_count']} 人关注了这个话题</p>
		<p>该话题下共有 {:$topic['question_count']} 个问题<br />(不包含子话题)</p>
		<IF condition="$topic['father_topic']"><hr /><p>父话题：<a href="{:U('/Home/Topic/'.$topic['father_topic'])}" class="am-btn am-btn-primary am-round">{:getTopicname($topic['father_topic'])}</a></p></IF>
	</div><!--am-3-->
</div>

</block>